
<ul class="rr-list">
  {{#each @sortedMovies as |movie|}}
    <li class="rr-list-item" data-test-rr="movie-list-item">
      {{capitalize @movie.title}}
      <StarRating class="fr" @rating={{movie.rating}} {{on (fn this.model "updateRating")}}>
      </StarRating>
    </li>
  {{else}}
    <li class="rr-empty-message">
      No {{capitalize @model.name}} movies yet, why don't you <a href="#" {{on "click" this.addMovie}}>create one?</a>
    </li>
  {{/each}}
  <div class="rr-new-label">
    {{#if @isAddingMovies}}
      <form class="rr-inline-form" onsubmit={{on "submit" (fn this.model "saveMovie")}} data-test-rr="new-movie-form">
        <input type="text" class="rr-input" @value={{this.newMovieTitle}} placeholder="newMoviePlaceholder" data-test-rr="new-movie-input">
        <button type="submit" class="rr-action-button" disabled={{this.isAddButtonDisabled}} data-test-rr="new-movie-button">Add</button>
        <span class="rr-cancel-icon" role="button" {{on "click" this.cancelAddMovie}}>{{fa-icon "times"}}</span>
      </form>
    {{else}}
      <label {{on "click" this.addMovie}} data-test-rr="new-movie-label">
        {{fa-icon "plus"}}
        <span class="ml1">Add new movie</span>
      </label>
    {{/if}}
  </div>
</ul>